.header {
  .burger {
    @include burger;
    width: 36px;
    height: 36px;

    border-radius: 50%;
    background: var(--ui-white, #FFF);

    &.burger--active {
      z-index: 101;
      &::before,
      &::after {
        background: #222123;
      }
    }
  }
}

.header-top {
  &__inner {
    padding: 15px 0;
    display: flex;
    align-items: center;

	// new 
	border-bottom: 1px solid #fff;

    @include max991 {
      display: none;
    }

  }

  &__list {

    &--mobile{
      display: block;
      margin: 75px 0px 40px;
      margin-bottom: auto;
    }
  }

  &__item {
    @include max991 {
      &:not(:last-child){
        margin-bottom: 20px;
      }
    }
  }

  &__link {
    color: var(--typography-black-medium-contrast, rgba(13, 13, 13, 0.60));
    font-family: Inter;
    font-size: 14px;
    white-space: nowrap;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    transition: 0.3s;
    flex-shrink: 0;
    transition: 0.3s;



    &--tel{
      color: var(--typography-black, #0D0D0D);
      font-size: 16px;

      @include max991 {
        color: var(--ui-white, #FFF);
        margin-bottom: 10px;
      }
    }

    @include max1366 {
      font-size: 14px;
    }

    @media screen and (min-width: 1024px) {
      &:hover{
        color: var(--typography-black, #0d0d0d);
      }
    }

    &--mobile{
      color: var(--ui-white, #FFF);
    }

  }

  &__button {
    margin-left: auto;
    margin-right: 40px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    flex-shrink: 0;
    @include max991 {
      margin-left: 0;
      align-self: flex-start;
    }
  }

  &__social{
    @include max991 {
      margin-bottom: 22px;
      margin-top: 40px;
    }
  }

  &__working{
    margin-bottom: 22px;
  }
}

.header-bottom {
  &__inner {
    display: flex;
    align-items: center;
    gap: 43px;
    padding: 13px 0;

	//  new
	padding: 23px 0;

    @include max600 {
      padding: 5px 0;
    }
  }

  &__form{
    display: flex;
    flex-grow: 1;
    gap: 43px;
  }

  &__logo {
    display: flex;
    align-items: flex-start;
    @include max991 {
      display: none;
    }
  }

  &__icon {

  }

  &__location-btn{
    @include max991 {
      display: none;
    }
  }

  &__search {
  }

  &__social {
    @include max991 {
      display: none;
    }
  }
}

.burger {
  &__line {
  }
}



.mobile-nav{
  display: none;

  @include max991 {
    display: block;
  }

  @include max600 {
    .logo{
      width: 105px;
      height: 29px;
    }
  }

  &__container{
    padding: 15px 30px 40px 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;

    @include max600 {
      padding: 15px 15px 40px 15px;
    }
  }

  &__location{
    align-self: flex-start;
  }

  &__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 15px 0;
  }

  &__block{
   //  display: none;
    background: #0D0D0D;
    position: fixed;
    z-index: 100;
    right: 0;
    top: 0;
    bottom: 0;
    width: 70%;
	 transform: translateX(100%);
	 transition: all 0.4s ease 0s;
	 visibility: hidden;
	//  display: block;

    &.menu--active{
      // display: block;
		transform: translateX(0%);
		visibility: visible;
    }
  }
}

.logo{
  width: 135px;
  height: 37px;
}
//========================================================================================================================================================

.contacts-header__popup {
	max-width: 330px;
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 5;
	opacity: 0;
	visibility: hidden;
	transition: all 0.4s ease 0s;
	pointer-events: none;
	transform: translateY(10px);
}
.popup-contacts {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 15px;
	padding: 20px 25px; 
	overflow: hidden;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.header-top__link {
	position: relative;
	@media (any-hover: hover){
		 &:hover { 
			.popup-contacts {
				transform: translateY(0);
				opacity: 1;
				visibility: visible;
				pointer-events: auto;
			}
	  } 
	}
}
.popup-contacts__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}
.popup-contacts__close {
	position: absolute;
	top: 15px;
	right: 13px;
	font-size: 18px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: none;
	background-color: inherit;
	cursor: pointer;
	padding: 0;
	color: var(--typography-black-medium-contrast, rgba(13, 13, 13, 0.6));
}
.popup-contacts__title {
	font-size: 18px;
	font-weight: 700;
	@media (any-hover: hover){
		&:hover { 
		 color: var(--ui-accent, #ffb21c);
	 } 
  }
}
.popup-contacts__body {
}
.body-popup-contacts {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.body-popup-contacts__text {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	font-size: 12px;
	line-height: 1.2;
	&:not(:last-child){
		margin-bottom: 10px;
	}
}
.body-popup-contacts__email {
	font-size: 15px;
	font-weight: 700;
	transition: all 0.4s ease 0s;
	&:not(:last-child){
		margin-bottom: 10px;
	}
	@media (any-hover: hover){
		 &:hover { 
		  color: var(--ui-accent, #ffb21c);
	  } 
	}
}
.body-popup-contacts__btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 14px;
	padding: 10px 30px;
	color: yellow;
	border: none;
	border-radius: 6px;
	cursor: pointer;
}
.popup-contacts__footer {
}
.popup-contacts__messengers {
	display: grid; 
	grid-template-columns: 1fr 1fr; 
	gap: rem(10);
}
.messengers-popup__item {
	display: flex;
	align-items: center;
	gap: 3px;
	font-size: 10px;
	svg {
		width: 18px;
		height: 18px;
		flex: 0 0 18px;
		transition: all 0.4s ease 0s;
	}
	&:nth-child(1)	{
		svg {
			width: 23px;
			height: 23px;
			flex: 0 0 23px;
		}
	}
	@media (any-hover: hover){
		&:hover { 
		 color: var(--ui-accent, #ffb21c);
		 svg {
			fill: var(--ui-accent, #ffb21c);
		 }
	 } 
  }
}
//========================================================================================================================================================
.inner-top-header {
	justify-content: space-between;
	gap: 50px;
	.header-top__body {
		width: auto;
		min-width: auto;
		justify-content: flex-end;
	}
	.header-top__list {
		// justify-content: flex-end;
	}
	.header-top__body .visible-links {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		gap: 23px;
		li {
		padding: 0;
		// &:not(:last-child){
			// margin-right: 23px;
			// margin-left: 23px;
		// }
  }
}
}


.header__actions {
	min-width: 25%;
}
.actions-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	// gap: 20px;
	.header-top__link--tel {
		font-weight: 700;
	}
	.main-select .choices__inner {
		border-radius: 0;
		border: none;
		background-color: inherit;
  }
  .main-select--header .choices__inner {
	padding: 4px 20px 3px 25px !important;
}
}

@media screen and (min-width: 1024px) {
	.main-select--header:hover .choices__inner {
		background-color: inherit !important;
	}
}

.main-select--header .choices[data-type*=select-one]:before {
	content: "";
	display: block;
	position: absolute;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	top: 8px;
	left: 0px !important;
	background: url(../img/geo-location-2.svg) no-repeat !important;
	width: 18px !important;
	height: 18px !important;
}

.actions-header__item {
}

.header__social {
	.social__inner {
		gap: 10px;
	}
	.social__link {
		border-radius: 3px;
	}
}

.header-bottom__menu {
}
.menu-navigation {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 15px;
}
.menu-navigation__item {
}
.item-navigation {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-weight: 700;
	padding: 8.5px 15px;
	border: 1px solid #000;
	border-radius: 5px;
	transition: all 0.4s ease 0s;
}
.item-navigation--sale {
	// padding: 7px 15px;
	background: var(--ui-accent, #ffb21c);
	border: 1px solid yellow;
	transform: rotateZ(-5deg);
}

@media (any-hover: hover){
		.item-navigation:hover {
			background: var(--ui-accent, #ffb21c);
			border: 1px solid yellow;
			// padding: 7px 15px;
		}
}

.search-header {
	.search__inner {
		position: relative;
	}
	.search__input {
		border-radius: 7px;
		padding-left: 43px;
	}
	.search__button {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		padding: 12px;
		padding-right: 8px;
		background-color: #fff;
		border-radius: 0px;
		border-radius: 7px;
	}
	.search__icon {
		fill: #0D0D0D1A;
	}
}

.inner-bottom-header {
	align-items: flex-start;
}

@media (max-width: 812px){
	.inner-bottom-header {
		flex-wrap: wrap;
		gap: 13px;
		padding: 5px 0;
		.header-bottom__form {
			flex: 0 1 100%;
		}
	}
}

@media (max-width: 768px){
	.header-bottom__menu {
		display: none;
	}
}

.contacts-header__phone {
	display: flex;
	align-items: center;
	gap: 3px;
	svg {
		width: 16px;
		height: 16px;
		flex: 0 0 16px;
	}
}
//========================================================================================================================================================
.header-bottom__search {
	position: relative;
}
.search__menu {
	position: absolute;
	width: 100%;
	top: 100%;
	left: 0;
	z-index: 5;
}

.menu-search {
	padding: 5px 10px 10px 10px;
	background-color: #cdd1d5;
	border-radius: 12px;
}
.menu-search__cards-action {
	max-height: 272px;
	overflow: auto;
	border-radius: 12px;
	padding-right: 10px;
	-webkit-overflow-scrolling: touch;
    will-change: scroll-position;
	.cards-action__inner {
		padding: 5px 0;
	}
	.cards-action__link--height {
    height: auto;
    min-height: 0;
	}
	.cards-action__content {
		padding: 5px 20px;
	}
	.cards-action__name {
		font-size: 16px;
		font-weight: 700;
		line-height: 20.8px;
	}
	.cards-action__info {
		font-size: 14px;
		font-weight: 400;
		line-height: 16.94px;
	}
	.cards-action__images {
    overflow: hidden;
    min-width: 100px;
    height: inherit;
    position: relative;
    padding-bottom: 8.8%;
			img {
				position: absolute;
				width: 100%;
				height: 100%;
		}
	}
	.cards-action__item:not(:last-child) {
    margin-bottom: 5px;
	}
}
.menu-search__cards-action::-webkit-scrollbar {
	height: 100%;
	width: 4px;
	background: #e7e7e7;
	border-radius: 50px;
}
.menu-search__cards-action::-webkit-scrollbar-thumb {
	background: var(--ui-dark);
	border-radius: 50px;
}